<style>
  body{
    background-color: #FFC0CB;
  }
</style>
<form method="post" action="/main">
  <div style = "float:left; width: 100px;"> Login ID </div> <input type="text" name="username" placeholder="username"><br>
  <div style = "float:left; width: 100px;"> Password: </div><input type="password" name="password" placeholder="password"><br>
  <br><div style = "float:left; width: 100px;"> &nbsp;</div><input type="submit" value="Log in">
</form>

<br><a href="/main/signup">Register here</a><br>

{{#if error}}
<p>{{error}}</p>
{{/if}}
