<h1>New Thread</h1>

<form method="post" action="newPost">
<div style = "float:left; width: 200px;"> {{user.username}}</div><br>
<div style = "float:left; width: 200px;"> What do you need ideas on?</div>
  <input type="text" name="topic" placeholder="Christmas Gifts for 24 year old girl"><br>
<br><div style = "float:left; width: 200px;">&nbsp;</div>
  <input type="submit" value="Start Storming!">
</form>
