<h1>New Post</h1>

<form method="post" action="newPost">
<div style = "float:left; width: 200px;"> {{user.username}}</div><br>
<div style = "float:left; width: 200px;"> Post Title</div>
  <input type="text" name="title" placeholder="i was too lazy to make a title"><br>
<div style = "float:left; width: 200px;">Post Body</div>
  <textarea name="body" placeholder="body"></textarea><br>
<br><div style = "float:left; width: 200px;">&nbsp;</div>
  <input type="submit" value="Start Storming!">
</form>
